.DS_Store
._*
.Rhistory
FASTQ/
FASTQtrimmed/
FastQC/
omniCLIP/
STAR/
MultiQC/
logs/
.snakemake/
BAM_deduplicated/
forward_read_only/
clipper/*.bed
analysis/
igv_session_*.xml
clipper/clipper_warnings.txt
IGV_sonu*
reference/
CIRS_reactivity/
