.DS_Store
._*
.Rhistory
FASTQ/
FASTQtrimmed/
FastQC/
omniCLIP/
STAR/
MultiQC/
logs/
.snakemake/
BAM_deduplicated/
forward_read_only/
clipper/*.bed
analysis/
igv_session_*.xml
clipper/clipper_warnings.txt
IGV_sonu*
reference/
CIRS_reactivity/
*.html
scripts/*.png
scripts/*.xml
*_files/
*_cache/
dCLIP/
CIRCexplorer2/
STAR_chimeric/
circRNA/
.Rproj.user
circRNA_FUS_CLIP/
.here
clip_March2018.Rproj
scripts/clip_counts_mark.R
Rmd/mark_play.R
Rmd/rds/
